<nb-card>
  <nb-card-header>
    <nb-icon status="primary" icon="settings-outline"></nb-icon>

    <span class="ml-2" id="depot-span"> {{'MENU.model' | translate}}</span>


  </nb-card-header>  <nb-card-body>
  <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)"
                   (createConfirm)="onCreateConfirm($event)" (editConfirm)="onSaveConfirm($event)"></ng2-smart-table>
</nb-card-body>
  <nb-card-footer>
    <p class="font-weight-bold">{{modelCardService.models.length}} {{'MENU.model' | translate}}</p>
  </nb-card-footer>
</nb-card>
