<div class="row mb-3">
  <div class="col-md-12">
    <nb-card class="mb-0" accent="primary">
      <nb-accordion accent="primary">
        <nb-accordion-item class="inline-form-card"  [expanded]="formExpanded">
          <nb-accordion-item-header> <nb-icon status="primary" icon="bar-chart"></nb-icon>
            <span class="ml-2">{{'HISTORY.category'| translate}}</span>
          </nb-accordion-item-header>
          <nb-accordion-item-body>
            <form class="form-inline">
              <input nbInput   placeholder="{{'HISTORY.startDate' | translate}}" type="datetime-local"  class="col-12 col-md-2"
                     name="startDate" [formControl]="formControl" (ngModelChange)="startDate=$event">
              <!--              <nb-date-timepicker #from singleColumn [step]="5" style="display:none;"></nb-date-timepicker>-->

              <input nbInput  placeholder="{{'HISTORY.endDate' | translate}}" type="datetime-local" class="col-12 col-md-2"
                     name="endDate" [formControl]="formControl1" (ngModelChange)="endDate=$event">
              <!--              <nb-date-timepicker #to singleColumn [step]="5" style="display:none;" ></nb-date-timepicker>-->
              <nb-select fullWidth [(selected)]="selectedSubCategory" [(ngModel)]="selectedSubCategory" [ngModelOptions]="{standalone: true}"
                         class=" col-12 col-md-2 px-0" placeholder="{{'HISTORY.categories' | translate}}">
                <nb-option [value]="subCategory.id" *ngFor="let subCategory of subCategories">
                  {{subCategory.title}} - {{subCategory.titleArabe}}</nb-option>
              </nb-select>
              <button type="submit" nbButton status="primary" size="small" class="col-12 col-md-1 px-0" (click)="refreshZone()">
                <nb-icon icon="checkmark-square-2"></nb-icon>{{'HISTORY.validate' | translate}}</button>
            </form>
          </nb-accordion-item-body>
        </nb-accordion-item>
      </nb-accordion>
      <nb-card class="m-auto d-flex justify-content-center align-items-center w-100">
        <nb-card-header class="">{{'stats.titleCategoryStats' | translate}}</nb-card-header>
        <nb-card-body class="d-flex justify-content-center align-items-center flex-column w-100">
          <div style="font-size: 1.2em;" class="d-flex justify-content-center align-content-center text-black font-weight-bolder text-success" *ngIf="stats.length !== 0">
            {{ 'stats.avg' | translate }}: {{ AVG[0].average_treatment_days }}
          </div>
          <highcharts-chart
            *ngIf="stats.length !== 0"
            class="w-100"
            [Highcharts]="Highcharts"
            [options]="chartOptions"
            style="width: 100%; height: 400px;"
          ></highcharts-chart>
          <div *ngIf="stats.length === 0">{{ 'stats.noData' | translate }}</div>
        </nb-card-body>
      </nb-card>
    </nb-card>
  </div>
</div>
