<ng-template #content let-modal>
  <nb-card class="w-100">
    <nb-card-header class="w-100 d-flex justify-content-between align-items-center">
      <div>
        <p class="font-weight-bold">SAV</p>
      </div>
    </nb-card-header>
    <nb-card-body>
      <table class="table mt-3">
        <thead>
        <tr class="w-100">
          <th class="w-50" >Component</th>
          <th class="w-50" >Quantity</th>
        </tr>
        </thead>
        <tbody>
        <tr class="w-100 p-0" *ngFor="let item of componentSav">
          <td class="w-50">
            {{item.component.reference}}
          </td>
          <td class="w-50 p-0">
            <input class="form-control" style="margin: 15px" type="number" placeholder="Quantity" [(ngModel)]="item.quantity" required>
          </td>
        </tr>
        </tbody>
      </table>
    </nb-card-body>
    <nb-card-footer class="d-flex justify-content-end align-items-center flex-row">
        <button class="btn btn-primary m-1" type="submit">Validate</button>
        <button class="btn btn-light m-1" (click)="close()">Close</button>
    </nb-card-footer>
  </nb-card>
</ng-template>

<button class="btn btn-lg btn-outline-primary mt-3" (click)="open(content)">
  <i class="fa fa-info"></i>
</button>
