.box-container {
  width: 10%;
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-content {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.bg-danger {
  background-color: #ffcccc; /* Light red */
}

.bg-warning {
  background-color: #ffffcc; /* Light yellow */
}

.bg-success {
  background-color: #ccffcc; /* Light green */
}
